.center {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;  
  }

  h1 {
    color : #3DF0FA;
    font-size: 50px;
}

h2 {
    color: #2736D7;
    font-size : 40px;
}

h3 {
    color : #ffff03;
    font-size : 37px;
    
}
  
p {
    color: orangered;
    font-family: Dancing Script;
    font-size: 30px;
}
  
ol {
    font-size: 35px;
    color : #05ff0d;
    text-align: justify;
    
}

ul {
    font-size: 32px;
    color: #05cdff;
    text-align: justify;
}

html {
    background-color: #7890D3;
  }
  
  body {
    width: 1000px;
    margin: 0 auto;
    padding: 0 25px 25px 25px;
  }

  article{
    width: 1000px;
    margin: 0 auto;
    
    padding: 0 25px 25px 25px;
    border: 6px solid #1B0A37;
  }